{% extends 'layouts/form.html' %} {% block title %}New Student{% endblock %} {%
block content %}
<div class="form-wrapper">
  <form method="post" class="form">
    {{ form.csrf_token() }}
    <h3 class="form-heading">New Student</h3>
    <div class="form-group">
      <label for="name">Name</label>
      {{ form.name(class_ = 'form-control', autofocus = true) }}
    </div>
    <div class="form-group">
      <input
        type="submit"
        value="Create Student"
        class="btn btn-primary btn-lg btn-block"
      />
    </div>
  </form>
</div>
{% endblock %}
