{% extends 'layouts/form.html' %} {% block title %}New Interest{% endblock %} {%
block content %}
<a href="/interests">List Interests</a>
<h3 class="form-heading">Interest</h3>
<div class="form-wrapper">
  <form method="post" class="form form-inline">
    {{ form.csrf_token() }}
    <div class="mb-3">
      <div class="form-group">
        <div class="form-inline">
          <label class="form-label" for="name">Name</label>
          {{ form.name(class_ = 'form-control', autofocus = true) }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <input
        type="submit"
        value="Create Interest"
        class="btn btn-primary btn-lg btn-block"
      />
    </div>
  </form>
</div>
{% endblock %}
